@import '../../../../scss/palette';

.expansion {
  &__tabs {
    display: flex;
    align-items: center;

    &-description {
      flex: 1 1 auto;
      height: 100%;
      background-color: $blockBackgroundColor;
      border: 1px solid #4f4f7f;
      color: white;
      padding: 5px 8px;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 5px 0;
  }
}
