.container {
  display: table;
  width: 100%;
}

.matchItem > .container > div {
  display: table-cell;
  height: 110px;
  vertical-align: middle;
}

.matchItem > .Win > div:not(.Button) {
  border-bottom: 1px solid #0e6289;
}

.matchItem > .Loss > div:not(.Button) {
  border-bottom: 1px solid #972a2a;
}

.matchItem > .container > .Players {
  width: 200px;
  font-size: 0;
}

.matchItem > .container > .Players > .Team {
  float: left;
  width: 50%;
  /* display: inline-block; */
}

.matchItem > .container > .Players > .Team > .Summoner {
  margin-top: 3.5px;
  display: block;
  width: 100px;
  height: 18px;
  margin-left: 3px;
  text-align: left;
  /* overflow: hidden; */
  white-space: nowrap;
}

.Win {
  box-sizing: border-box;
  background-color: #a9e2fc;
}

.Loss {
  box-sizing: border-box;
  background-color: #f6a3a3;
}

.IGN {
  width: 75px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SpellsnRunes {
  overflow: hidden;
  vertical-align: middle;
}

.Runes {
  overflow: hidden;
  vertical-align: middle;
}

.Spells {
  position: relative;
  width: 120px;
  vertical-align: middle;
}

.ChampName {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  font-weight: bold;
}

.biggestBox {
  position: relative;
  height: 95px;
  margin-top: -2px;
}

.biggestBox > div {
  position: absolute;
}

.ChampImg {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.ChampImg > g {
  width: 60px;
  height: 60px;
  clip-path: circle(27px at center);
}

.Spell {
  width: 24px;
  height: 24px;
  clip-path: circle(12px at center);
}

.Spell > img {
  width: 100%;
  height: 100%;
}

.left {
  left: 27%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
}

.right {
  left: 73%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
}

.lowerImage {
  width: 13px;
  height: 13px;
  /* clip-path: circle(5px at center); */
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 77%;
  z-index: 2;
  border-radius: 50%;
  background: black;
}

.Secondary {
  left: 60%;
  padding-bottom: 2px;
}

.Level {
  left: 40%;
  padding-top: 2px;
  color: white;
  font-size: 11px;
  padding-right: 1px;
  text-align: center;
}

.Secondary > img {
  width: 100%;
  height: 100%;
}

.MainTree {
  width: 40px;
  height: 40px;
  clip-path: circle(14px at center);
  background: black;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 55%;
}

.MainTree > img {
  width: 100%;
  height: 100%;
}

.ItemsList {
  width: 94px;
  margin: 0 auto;
  display: inline-block;
  padding-left: 10px;
}

.ItemsList > .Item {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 3px;
  margin-top: -2px;
  margin-right: 2px;
  overflow: hidden;
}

.container > .Trinket > .Item {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 3px;
  margin-top: -2px;
  margin-right: 2px;
  overflow: hidden;
  margin-left: -1px;
}

.Trinket {
  display: inline-block;
}

.Item > img {
  width: 100%;
  height: 100%;
}

.container > .Stats > div {
  text-align: center;
  font-size: 14px;
  line-height: 1.35;
}

.container > .Info > div {
  text-align: center;
  font-size: 14px;
  line-height: 1.35;
}

/* .Stats {
    padding-left: 6px;
    padding-right: 9px;
  } */

.Summoner > div {
  display: inline-block;
  vertical-align: middle;
}

.Summoner > .IGN {
  margin-left: 2px;
}

.SummImage > img {
  width: 18px;
  height: 18px;
}

.Players {
  padding-bottom: 2.5px;
}

.matchItem {
  width: 685px;
  margin-bottom: 3px;
  border: 1px solid black;
}

.Button {
  width: 30px;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.Win .Button {
  background-color: #2d93c2;
  border-left: 1px solid #0e6289;
}

.Win > .Button:hover {
  background-color: #0e6289;
}

.Loss .Button {
  background: #d05454;
  border-left: 1px solid #972a2a;
}

.Loss > .Button:hover {
  background-color: #972a2a;
}

.Button:hover .Arrow {
  background-color: rgb(255, 251, 251);
}

.Arrow {
  width: 25px;
  height: 15px;
  position: absolute;
  bottom: 1px;
  left: 2.25px;
  clip-path: polygon(0 0, 20% 0, 50% 40%, 80% 0, 100% 0, 50% 60%);
  background-color: black;
}

.Win .Arrow {
  background-color: #03587f;
  border-left: 1px solid #0e6289;
}

.Loss .Arrow {
  background-color: #9d0808;
  border-left: 1px solid #972a2a;
}

.blue {
  background-color: #2d93c2;
}

.red {
  background-color: #d05454;
}
