@import '../../../../scss/palette';

.overview {
  &__header {
    width: 100%;
    height: 60px;
    margin: 5px 0;
    background-color: darken($blockBackgroundColor, 10%);
    border: 1px solid #4f4f7f;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &__boxscore {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;

    &--group {
      display: grid;
      grid-template-rows: 80px;
      grid-row-gap: 5px;
    }

    &--cell {
      width: 100%;
      height: 80px;
      background-color: $blockBackgroundColor;
      border: 1px solid #4f4f7f;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-champ {
        height: 48px;
        width: 48px;
        clip-path: circle(45%);
        & > img {
          width: 100%;
          height: 100%;
        }
      }
      &-summs {
        height: 48px;
        width: 48px;
        display: grid;
        padding: 2.5px 0;
        grid-template-columns: 21.25px 21.25px;
        grid-column-gap: 1px;
        grid-template-rows: 21.25px 21.25px;
        grid-row-gap: 1px;
        // align-items: center;
        position: relative;

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      &-items {
        height: 48px;
        display: grid;
        grid-template-columns: 23.25px 23.25px 23.25px 23.25px;
        grid-column-gap: 1px;
        grid-template-rows: 23.25px;
        grid-row-gap: 1px;
        width: 96px;
        & > img {
          width: 100%;
          height: 100%;
        }
      }

      &-item {
        width: 23.25px;
        height: 23.25px;
        position: relative;
        & > img {
          width: 100%;
          height: 100%;
        }

        &_ward {
          color: white;
          position: absolute;
          width: 11.625px;
          height: 11.625px;
          right: 0;
          top: 11.625px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;
          border-radius: 5px;
        }
      }

      &-level {
        position: absolute;
        left: 11.25px;
        top: 13.25px;
        width: 20px;
        height: 20px;
        clip-path: circle(50%);
        background-color: #23ac8a;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
      }

      &-name {
        display: flex;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 1.2rem;
        margin-right: 5px;
        flex: 1 1 auto;
        padding: 0 5px;
      }
    }

    &--stats {
      display: grid;
      width: 100%;
      grid-template-columns: 23% 18% 18% 23% 18%;
      color: white;
      font-size: 1.3rem;
      & > div {
        text-align: center;
      }
    }

    &--pictures {
      display: flex;
      justify-content: center;
      margin-right: 5px;
      padding: 0px 8px;
    }

    &--header {
      color: white;
      display: flex;

      &-group {
        width: calc(50% - 2.5px);
        display: grid;
        grid-template-columns: 23% 18% 18% 23% 18%;
        & > div {
          text-align: center;
        }
      }
    }
    // background-color: $blockBackgroundColor;
    // border: 1px solid #4f4f7f;
  }

  &__team {
    display: flex;
    align-items: center;
    &--reversed {
      flex-direction: row-reverse;
    }
  }

  &__image {
    &--ban {
      width: 25px;
      height: 25px;
      border-radius: 3px;
      &:not(:last-child) {
        margin-right: 2px;
      }
    }

    &--ban + div {
      background-color: $blockBackgroundColor;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lighten($blockBackgroundColor, 20%);

      & > svg {
        width: 80%;
        height: 80%;
      }
    }
  }

  &__bans {
    display: flex;
    &-container {
    }
  }

  &__section {
    color: white;
    &:not(:last-child) {
      margin-right: 12px;
    }
    &--text {
      font-weight: 700;
      margin-bottom: 4px;
      font-size: 0.9rem;
      text-transform: uppercase;
      &-reversed {
        text-align: right;
      }
    }
    &--objectives {
      margin-left: 4px;
    }

    &--reversed {
      margin-right: 0 !important;
      &:not(:last-child) {
        margin-left: 12px;
      }
    }
  }

  &__winner {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    &-red {
      color: $lose;
    }

    &-blue {
      color: $win;
    }
  }

  &__objectives {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 25px;
    & > span {
      margin: 0 3px;
    }
  }

  &__kills {
    height: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  &--objective {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;

    &-red {
      fill: $lose;
    }

    &-blue {
      fill: $win;
    }
  }
}
