@import '../../../../scss/palette';

.expansion__tab {
  color: white;
  //#222238
  padding: 5px;
  background-color: $blockBackgroundColor;
  border: 1px solid #4f4f7f;
  border-radius: 3px;
  // width: 70px;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;

  & > svg {
    width: 100%;
    height: 100%;
  }

  margin-right: 5px;

  &__active {
    font-weight: bold;
  }

  &:hover {
    background-color: white;
    color: #3a3a64;
    fill: #3a3a64;
  }
}
