dl,
dt,
dd,
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

div,
h1,
p {
  font-family: "Circular", "Helvetica", "Arial", sans- "serif";
}

div {
  display: block;
}

ul {
  display: block;
  list-style-type: disc;
  padding: 0;
}

form {
  display: block;
}

button:focus {
  outline: 0;
}

.light-mc {
  background: linear-gradient(45deg, rgb(109, 186, 186), rgb(184, 242, 242));
}

.light-nb {
  background: #eaeaea;
}

.light-spc {
  background: #fbfbfb;
  /*font-size: 0;*/
}

.light-sf {
  background-color: #fff;
}

.light-sp {
  background: #fff;
  border: 1px solid #e9eff4;
}

.light-sft {
  border: none;
  color: #000000;
}

.light-spt {
  border-bottom: 1px solid #e9eff4;
  color: #333;
}

/* DARK MODE */

.orig-dark-mc {
  background: linear-gradient(45deg, rgb(5, 13, 28), rgb(8, 37, 84));
}

.dark-mc {
  background: linear-gradient(45deg, #26547c, #06d6a0);
}

.dark-nb {
  background: #eaeaea;
}

.dark-spc {
  background: rgb(7, 5, 51);
}

.dark-sf {
  background-color: rgb(7, 5, 51);
  border: 1px solid rgb(52, 49, 112);
}

.dark-sp {
  background: rgb(7, 5, 51);
  border: 1px solid rgb(52, 49, 112);
}

.dark-sft {
  border: 1px solid rgb(52, 49, 112);
  color: rgb(88, 83, 193);
}

.dark-spt {
  border-bottom: 1px solid rgb(52, 49, 112);
  color: #666666;
}

.dark-htext {
  color: #666666;
}

.dark-ptext {
  color: #666666;
}

.darkText {
  color: white;
}

.main {
  min-width: 1080px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.site--name img {
  vertical-align: middle;
  height: 30px;
}

.site--border {
  padding-bottom: 2px;
  padding-right: 12px;
}

.site--border:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  border-right: 1px solid #fff;
  border-right-color: rgba(255, 255, 255, 0.4);
}

/* .site:first-child {
    margin-left: 0;
    padding-left: 12px;
} */

h1 {
  font-size: 14px;
}

.summonerPage {
  font-family: "Helvetica Neue", Helvetica, "Apple SD Gothic Neo", AppleGothic,
    Dotum, Arial, Tahoma;
}

.summonerPage > .summonerContent {
  width: 1000px;
  margin: 0 auto;
  min-height: 500px;
}

.summonerFS > .infoSize {
  display: inline-block;
  width: 275px;
  vertical-align: top;
}

.summonerFS > .matchesSize {
  display: inline-block;
  width: 685px;
  margin-left: 25px;
  vertical-align: top;
  margin-top: 10px;
}

.summonerContent + .summonerFS {
  font-size: 0;
}

.summonerName {
  width: 100%;
}

.sBox {
  border: 1px solid black;
  background: white;
  border-radius: 4px;
}

.summonerInfo > .sBox {
  margin-top: 10px;
}

.summonerNameMedium {
  display: table;
  width: 100%;
  color: #879292;
  position: relative;
}

.WRItem {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  display: table;
  table-layout: fixed;
}

.WRItem > .champName {
  display: table-cell;
  width: 61px;
  text-align: left;
  vertical-align: middle;
}

.WRItem > .winRatio {
  display: table-cell;
  width: 40px;
  vertical-align: middle;
}

.champItem {
  display: table;
  width: 100%;
}

.champItem > .champInfo {
  display: table-cell;
}

.champItem > .WRGames {
  display: table-cell;
}

.champItem > .KDA {
  display: table-cell;
}

.soloRank {
  width: 100%;
  display: table;
}

.flexRank {
  width: 100%;
  display: table;
}

.flexType {
  display: table-cell;
}

.gameResults {
  display: table-cell;
}

.tierInfo {
  display: table-cell;
}

.season {
  display: inline-block;
}

.summonerIcon {
  display: inline-block;
}

.summonerIGN {
  display: inline-block;
}

.soloRank > .tierMedal {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 116px;
  text-align: center;
}

.soloRank > .tierMedal > img {
  width: 110px;
  height: 110px;
  /* margin-left: -10px; */
}

.soloRank > .tierInfo {
  line-height: 1.5;
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
}

.language--region {
  display: inline-block;
}

.refresh {
  display: inline-block;
}

.refreshForm {
  position: relative;
  width: 300px;
  /* height: 35px;
    margin: 0 auto; */
  /* border-radius: 2px; */
}

.refreshFormText {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.notSolo {
  width: 100%;
  display: table;
  border-top: 1px solid black;
}

.notSolo > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.notSolo > .tierMedal {
  width: 70px;
  height: 76px;
}

.notSolo > .tierMedal > img {
  width: 65px;
  height: 65px;
}

.notSolo > .tierInfo {
  line-height: 1.5;
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
}

.queueType > .queueName {
  font-size: 14px;
}

.queueType > .Rank {
  font-size: 13px;
}

.notSolo > .winLoss > .winPercentage {
  font-size: 13px;
}

.notSolo > .winLoss > .winLossGame {
  font-size: 13px;
}

.matchList {
  margin-top: 3.5px;
}

.ChampImg > img {
  width: 60px;
  height: 60px;
  clip-path: circle(27px at center);
}

/* .tabs {
  float: bottom;
} */

/* .sectionHeader.won {
  background: rgb(0, 42, 68);
}

.sectionHeader.lost {
  background-color: rgb(42, 1, 0);
} */

.moreGames {
  border: 1px solid rgb(238, 238, 238);
  margin-top: 10px;
  text-align: center;
  padding: 25px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  background: radial-gradient(#131a33, #15326c);
}

.moreGames::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(145, 215, 215), rgb(109, 186, 186));
  z-index: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.moreGames:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.moreText {
  position: relative;
  z-index: 1;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
