$backgroundColor: #0e0f1e;
$win: rgb(61, 177, 235);
$winTransparent: rgba(61, 177, 235, 0.05);
$winTransparent10: rgba(61, 177, 235, 0.1);
$winTransparent20: rgba(61, 177, 235, 0.2);
$winTransparent30: rgba(61, 177, 235, 0.3);
$winTransparent40: rgba(61, 177, 235, 0.4);
$winTransparent50: rgba(61, 177, 235, 0.5);
$winTransparent60: rgba(61, 177, 235, 0.6);
$winTransparent70: rgba(61, 177, 235, 0.7);
$winTransparent80: rgba(61, 177, 235, 0.8);
$winTransparent90: rgba(61, 177, 235, 0.9);

$lose: rgb(231, 45, 85);
$loseTransparent: rgba(231, 45, 85, 0.05);
$loseTransparent10: rgba(231, 45, 85, 0.1);
$loseTransparent20: rgba(231, 45, 85, 0.2);
$loseTransparent30: rgba(231, 45, 85, 0.3);
$loseTransparent40: rgba(231, 45, 85, 0.4);
$loseTransparent50: rgba(231, 45, 85, 0.5);
$loseTransparent60: rgba(231, 45, 85, 0.6);
$loseTransparent70: rgba(231, 45, 85, 0.7);
$loseTransparent80: rgba(231, 45, 85, 0.8);
$loseTransparent90: rgba(231, 45, 85, 0.9);
